@model IEnumerable<RepositorioRentFlat.Context.VISTATODOSCLIENTES>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@{ 
    int registros = ViewBag.Registros;
    int numeropagina = 1;
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ciudad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dni)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
        </tr>

    }
    <tr>
        <td colspan="3">
            @for (int i = 1; i < registros; i += 3)
            {
                <span>
                    @Html.ActionLink(numeropagina + " | "
     , "_PaginarClientes", "BackHome"
     , new {
         indice = i
     }, null)
                </span>
                numeropagina += 1;
            }
        </td>
    </tr>

</table>
