@using System.Web.Optimization

@*todos los elementos que se van a repetir en la aplicación*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

  @Styles.Render("~/commonstyles")
  
</head>
<body>
    @*HEAD******************************************************************************************BEGIN NAV*@
    <div class="super_container">
        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="header_content d-flex flex-row align-items-center justify-content-start">
                            <div class="logo">
                                <a href="#"><img src="~/Content/Front/images/logo.png" alt=""></a>
                            </div>
                            <nav class="main_nav">
                                @{
                                    Html.RenderAction("MainMenu", "Menu");
                                }
                            </nav>
                            <div class="phone_num ml-auto">
                                <div class="phone_num_inner">
                                    <img src="~/Content/Front/images/phone.png" alt=""><span>91 548 99 78</span>
                                </div>
                            </div>
                            <div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        @*t*************************************************************************************************************FIN NAV*@


        <!-- ***********************************************************************************************************MENU<500PX -->

        <div class="menu trans_500">
            <div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
                <div class="menu_close_container"><div class="menu_close"></div></div>
                <div class="logo menu_logo">
                    <a href="#">
                        <div class="logo_container d-flex flex-row align-items-start justify-content-start">
                            <div class="logo_image"><div><img src="~/Content/Front/images/logo.png" alt=""></div></div>
                        </div>
                    </a>
                </div>

                @{
                    Html.RenderAction("MainMenu", "Menu");
                }

            </div>
            <div class="menu_phone"><span>call us: </span>91 548 99 78</div>
        </div>
        <!-- *********************************************************************************************************FIN MENU<500PX -->









        @RenderBody()


    </div>

    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                    </ul>
                </div>
            </div>
        </div>

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>*@

    <!-- Footer -->

    <footer class="footer">
        <div class="footer_main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer_logo"><a href="#"><img src="~/Content/Front/images/logo_large.png" alt=""></a></div>
                    </div>
                    <div class="col-lg-9 d-flex flex-column align-items-start justify-content-end">
                        <div class="footer_title">Latest Properties</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 footer_col">
                        <div class="footer_about">
                            <div class="footer_about_text">Donec in tempus leo. Aenean ultricies mauris sed quam lacinia lobortis. Cras ut vestibulum enim, in gravida nulla. Curab itur ornare nisl at sagittis cursus.</div>
                        </div>
                    </div>
                    @*<div class="col-lg-3 footer_col">
                        <div class="footer_latest d-flex flex-row align-items-start justify-content-start">
                            <div><div class="footer_latest_image"><img src="~/Content/Front/images/footer_latest_1.jpg" alt=""></div></div>
                            <div class="footer_latest_content">
                                <div class="footer_latest_location">Miami</div>
                                <div class="footer_latest_name"><a href="#">Sea view property</a></div>
                                <div class="footer_latest_price">$ 1. 234 981</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 footer_col">
                        <div class="footer_latest d-flex flex-row align-items-start justify-content-start">
                            <div><div class="footer_latest_image"><img src="~/Content/Front/images/footer_latest_2.jpg" alt=""></div></div>
                            <div class="footer_latest_content">
                                <div class="footer_latest_location">Miami</div>
                                <div class="footer_latest_name"><a href="#">Town House</a></div>
                                <div class="footer_latest_price">$ 1. 234 981</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 footer_col">
                        <div class="footer_latest d-flex flex-row align-items-start justify-content-start">
                            <div><div class="footer_latest_image"><img src="~/Content/Front/images/footer_latest_3.jpg" alt=""></div></div>
                            <div class="footer_latest_content">
                                <div class="footer_latest_location">Miami</div>
                                <div class="footer_latest_name"><a href="#">Modern House</a></div>
                                <div class="footer_latest_price">$ 1. 234 981</div>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
        <div class="footer_bar">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="footer_bar_content d-flex flex-row align-items-center justify-content-start">
                            <div class="cr">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </div>
                            <div class="footer_nav">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="#">About us</a></li>
                                    <li><a href="properties.html">Properties</a></li>
                                    <li><a href="news.html">News</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                            <div class="footer_phone ml-auto"><span>call us: </span>652 345 3222 11</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/commonscripts")



</body>
</html>